@import '../../styles/variables.module';

.container {
  height: $header-height;
  top: 0;
  background: azure;
  margin: auto;
  padding: 10px 0;
  z-index: 10000;
  width: 100%;
  justify-content: center;
  display: grid;
  position: fixed;
  text-shadow: 0.1px 0.4px 0.4px;
}

.header {
  display: grid;
  grid-template-columns: $load-file-width 3fr 5fr;
  grid-gap: 0 40px;
  margin: 0;
  top: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.section {
  display: grid;
}

.textName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $load-file-width;
  margin: 0;
}

.session {
  position: absolute;
  right: 25px;
  z-index: 1000;
  padding: 10px 10px 0;
  top: 3px;
  display: grid;
  justify-content: center;
  margin: auto;
  border-radius: 14px;
  border: 1px solid mintcream;
  background: rgba(246, 245, 245, 0.34);
  box-shadow: 1px 2px 3px rgb(0 0 0 / 26%),
    inset 1px 2px 3px rgba(255, 255, 255, 0.47);
  text-shadow: 0.1px 0.4px 0.4px;
}

.onlySession {
  padding: 10px;
}

.sessionButton {
  &,
  &:hover {
    background: #adff2e;
    color: black;
    border: 0.5px solid rgba(173, 255, 47, 0.5);
    box-shadow: 1px 2px 3px rgb(0 0 0 / 26%), inset 1px 2px 3px #f6f6f6;
  }

  &:hover {
    background: rgba(#adff2e, 0.75);
    color: rgba(black, 0.9);
  }
}
