@import '../../styles/variables.module';

.container {
  height: $header-height;
  top: 0;
  background: azure;
  margin: auto;
  padding: 10px 0;
  z-index: 10000;
  width: 100%;
  justify-content: center;
  display: grid;
  position: fixed;
  text-shadow: 0.1px 0.4px 0.4px;
}

.header {
  display: grid;
  grid-template-columns: $load-file-width 3fr 5fr;
  grid-gap: 0 40px;
  margin: 0;
  top: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.section {
  display: grid;
}
