.typoPercentage {
  margin-top: 10px;
}

.indicator {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.section {
  font-size: 12px;
  grid-template-columns: 2fr 3fr;
  display: grid;
  grid-gap: 0 20px;

  > * {
    min-width: 100px;
  }
}
