.indicators {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 60px;
  max-width: 700px;
  margin: 0;
  color: red;
  top: 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.typoPercentage {
  margin-top: 10px;
}

.indicator {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.speed {
  text-shadow: 0.1px 0.4px 0.4px;
}

.section1 {
  display: grid;
}

.section2 {
  visibility: hidden;
  font-size: 20px;
  background: #adff2e;
  padding: 5px 35px;
  text-shadow: 0.1px 0.4px 0.4px black;
  border-radius: 10px;
  box-shadow: 1px 2px 3px grey, inset 1px 2px 3px #ddffc2;

  > * {
    height: 21px;
  }
}

.section3 {
  font-size: 12px;
  grid-template-columns: 2fr 3fr;
  display: grid;
  grid-gap: 0 20px;

  > * {
    min-width: 90px;
  }
}

.sectionVisible {
  visibility: visible;
}
