.container {
  display: inline-flex;
  position: relative;
}

.field {
  padding: 5px;
}

.isEditable {
  color: red;

  &::selection {
    background: rgba(86, 255, 109, 0.2);
  }
}

.buttons {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 100%;
}
