$color: red;

.timerButton {
  border: 0.5px solid rgba(greenyellow, 0.5);
  border-radius: 4px;
  background: greenyellow;
  padding: 4px 15px;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  max-width: 172px;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 26%),
    inset 1px 2px 3px rgba(255, 255, 255, 0.47);
  transition: 0.2s;
  font-weight: 100;

  &:hover {
    box-shadow: 1px 2px 3px rgb(0 0 0 / 36%), inset 1px 2px 3px #ddffc2;
    background: #a5fc20;
    text-shadow: 0 0 0.4px;
  }
}

.timerButtonStop {
  border: 0.5px solid #fff;
  color: $color;

  background: rgba(246, 245, 245, 0.34);
  box-shadow: 1px 2px 3px rgb(0 0 0 / 26%),
    inset 1px 2px 3px rgb(255 255 255 / 47%);

  &:hover {
    background: rgba(246, 245, 245, 0.34);
    box-shadow: 1px 2px 3px rgb(0 0 0 / 26%),
      inset 1px 2px 3px rgb(255 255 255 / 47%);
  }
}
